* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.table-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

table {
    border: 1px solid gray;
    width: calc(100% - 24px*2);
}

tr {
    border: 1px solid blue;
}

td {
    border: 1px solid lightgray;
    text-align: center;
    height: 30px;
}

.fancy-button {
    border: none;
    padding: 12px 36px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: lightseagreen;
    border-radius: 8px;
    margin: 24px auto;
    
}

.fancy-button:hover {
    background-color: seagreen;
}

.fancy-button:active {
    background-color: darkslategray;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    margin: 24px;
    background-color: #ececec;
    border-radius: 8px;
    gap: 12px;
}

.form input {
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 20px;
    color: black;
    width: 100%;
    outline: none;
}

.form input:focus {
    border: 1px solid darkcyan;
}

.form input::placeholder {
    color: lightseagreen;
}